body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

/*img {
    width: 50%;
    margin-left: 25%;    
}*/

img[alt=image_100_percent_width] { width: 100%;}
img[alt=image_75_percent_width] { width: 75%; margin-left: 12%}
img[alt=image_50_percent_width] { width: 50%; margin-left: 25%}
img[alt=image_25_percent_width] { width: 25%; margin-left: 37%}
